<% include partial/header.ejs %>
<body>
<h1><%= title %></h1>
<p>Welcome to
    <%# title %>
</p>  <!-- This is a comment in ejs-->

<ul>
    <% for (var i = 0; i < users.length; i++) { %>
        <li>
            <%= users[i] %>
        </li>
    <% } %>
    <%#   %>
</ul>


</body>
</html>
